!!!
html
  head
    title = 'Node Chat'
    script(src="/javascripts/jquery-1.10.2.min.js")
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
  body
    .user_list(style='width: 200px; height: 300px; border: solid 1px #444444; overflow-y: scroll; float: left;')
    .content(style='width: 500px; height: 300px; border: solid 1px #999999; overflow-y: scroll;')
    .controls(style='margin-left: 200px;')
      input.field(style='width:450px;')
      input.send(type='button', value='Send')
