!!!
html
	head
		title = 'Node Chat'
		script(src="/javascripts/jquery-1.10.2.min.js")
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='width: 500px; height: 300px; border: solid 1px #999999; overflow-y: scroll;')
		.controls
			input.field(style='width:350px;')
			input.send(type='button', value='send')
